* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#info {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    text-align: right;
}
